<form>
    <div class="input-group">
        <p>
            <label for="inicial-investment">Initial Investment</label>
            <input id="inicial-investment" type="number" name="" id="">
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input id="annual-investment" type="number" name="" id="">
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input id="expected-return" type="number" name="" id="">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id="duration" type="number" name="" id="">
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>
